In [27]:
import pandas as pd, numpy as np, requests
from bs4 import BeautifulSoup as BS

In [75]:
url = 'https://dnd5e.wikidot.com/armor'
resp = requests.get(url)

In [149]:
armor_tables = pd.read_html(resp.content)
armor_tables[0]['type'] = 'light'
armor_tables[1]['type'] = 'medium'
armor_tables[2]['type'] = 'heavy'
armor_tables[3]['type'] = 'shield'

In [150]:
armor_tables[0]['Strength'] = 0
armor_tables[0].columns = ['Name','AC','Strength','Stealth','Weight','Cost','type']
armor_tables[0]['baseAC'] = armor_tables[0]['AC'].str.split('+',expand=True)[0]
armor_tables[0]['baseAC'] = armor_tables[0]['baseAC'].str.strip().astype(int)
armor_tables[0]['modAC'] = "DEX"
armor_tables[0]['Weight'] = armor_tables[0]['Weight'].str[:-4]
armor_tables[0]['Weight'] = armor_tables[0]['Weight'].astype(int)
armor_tables[0][['cost_amt','cost_unit']] = armor_tables[0]['Cost'].str.split(' ',expand=True)
armor_tables[0]['cost_amt'] = armor_tables[0]['cost_amt'].astype(int)
armor_tables[0]['Stealth'] = np.select(
    [armor_tables[0]['Stealth']=='Disadvantage',armor_tables[0]['Stealth']=='-'],
    [True,False]
)
armor_tables[0]['Stealth'] = armor_tables[0]['Stealth'].astype(bool)
armor_tables[0].drop(columns=['AC','Cost'], axis=1,inplace=True)
armor_tables[0].columns=['Name','minSTR','stealth_disadv','Weight','type','baseAC','modAC','cost_amt','cost_unit']
armor_tables[0]

,Name,minSTR,stealth_disadv,Weight,type,baseAC,modAC,cost_amt,cost_unit
0,Padded,0,True,8,light,11,DEX,5,gp
1,Leather,0,False,10,light,11,DEX,10,gp
2,Studded Leather,0,False,13,light,12,DEX,45,gp

In [151]:
armor_tables[1]['Strength'] = 0
armor_tables[1]['Strength'] = armor_tables[1]['Strength'].astype(int)
armor_tables[1]['Stealth'] = np.select(
    [armor_tables[1]['Stealth']=='Disadvantage',armor_tables[1]['Stealth']=='-'],
    [True,False]
)
armor_tables[1]['Stealth'] = armor_tables[1]['Stealth'].astype(bool)
armor_tables[1].columns = ['Name','AC','minSTR','stealth_disadv','Weight','Cost','type']
armor_tables[1]['baseAC'] = armor_tables[1]['AC'].str.split('+',expand=True)[0]
armor_tables[1]['baseAC'] = armor_tables[1]['baseAC'].str.strip().astype(int)
armor_tables[1]['modAC'] = "DEX|2"
armor_tables[1]['Weight'] = armor_tables[1]['Weight'].str[:-4]
armor_tables[1]['Weight'] = armor_tables[1]['Weight'].astype(int)
armor_tables[1][['cost_amt','cost_unit']] = armor_tables[1]['Cost'].str.split(' ',expand=True)
armor_tables[1]['cost_amt'] = armor_tables[1]['cost_amt'].astype(int)
armor_tables[1].drop(columns=['AC','Cost'],axis=1,inplace=True)
armor_tables[1]

,Name,minSTR,stealth_disadv,Weight,type,baseAC,modAC,cost_amt,cost_unit
0,Hide,0,False,12,medium,12,DEX|2,10,gp
1,Chain Shirt,0,False,20,medium,13,DEX|2,50,gp
2,Scale Mail,0,True,45,medium,14,DEX|2,50,gp
3,Spiked Armor,0,True,45,medium,14,DEX|2,75,gp
4,Breastplate,0,False,20,medium,14,DEX|2,400,gp
5,Halfplate,0,True,40,medium,15,DEX|2,750,gp

In [152]:
# armor_tables[2].loc[armor_tables['Strength'].str.contains('-'),'Strength'] = 0
# armor_tables[2]['Stealth'] = True
armor_tables[2]
armor_tables[2].loc[armor_tables[2]['Strength'].str.contains('-'),'Strength'] = 'Str 0'
armor_tables[2]['Strength'] = armor_tables[2]['Strength'].str.split(' ',expand=True)[1].astype(int)
armor_tables[2]['Stealth'] = np.select(
    [armor_tables[2]['Stealth']=='Disadvantage',armor_tables[2]['Stealth']=='-'],
    [True,False]
)
armor_tables[2]['Stealth'] = armor_tables[2]['Stealth'].astype(bool)
armor_tables[2]['Weight'] = armor_tables[2]['Weight'].str[:-4]
armor_tables[2]['Weight'] = armor_tables[2]['Weight'].astype(int)
armor_tables[2][['cost_amt','cost_unit']] = armor_tables[2]['Cost'].str.split(' ',expand=True)
armor_tables[2]['cost_amt'] = armor_tables[2]['cost_amt'].str.replace(',','').astype(int)
# armor_tables[2]['cost_amt'] = armor_tables[2]['cost_amt'].astype(int)
armor_tables[2].columns = ['Name','baseAC','minSTR','stealth_disadv','Weight','Cost','type','cost_amt','cost_unit']
armor_tables[2].drop(columns=['Cost'],inplace=True)
armor_tables[2]['modAC'] = None
armor_tables[2]

,Name,baseAC,minSTR,stealth_disadv,Weight,type,cost_amt,cost_unit,modAC
0,Ring Mail,14,0,True,40,heavy,30,gp,None
1,Chain Mail,16,13,True,55,heavy,75,gp,None
2,Splint,17,15,True,60,heavy,200,gp,None
3,Plate,18,15,True,65,heavy,1500,gp,None

In [153]:
armor_tables[3].columns=['Name','baseAC','minSTR','stealth_disadv','Weight','Cost','type']
armor_tables[3].loc[armor_tables[3]['minSTR'].str.contains('-'),'minSTR'] = 0
armor_tables[3].loc[armor_tables[3]['stealth_disadv'].str.contains('-'),'stealth_disadv'] = False
armor_tables[3]['Weight'] = armor_tables[3]['Weight'].str[:-4].astype(int)
armor_tables[3][['cost_amt','cost_unit']] = armor_tables[3]['Cost'].str.split(' ',expand=True)
armor_tables[3]['cost_amt'] = armor_tables[3]['cost_amt'].astype(int)
armor_tables[3]['modAC'] = None
armor_tables[3].drop(columns=['Cost'],inplace=True)
armor_tables[3]

,Name,baseAC,minSTR,stealth_disadv,Weight,type,cost_amt,cost_unit,modAC
0,Shield,2,0,False,6,shield,10,gp,None

In [158]:
armor_tables[4]['Category'] = np.select(
    [
        armor_tables[4]['Category'].str.contains('Light'),
        armor_tables[4]['Category'].str.contains('Medium'),
        armor_tables[4]['Category'].str.contains('Heavy'),
        armor_tables[4]['Category'].str.contains('Shield')
    ],[
        'light','medium','heavy','shield'
    ]
)
armor_tables[4]

  Category         Don       Doff
0    light    1 minute   1 minute
1   medium   5 minutes   1 minute
2    heavy  10 minutes  5 minutes
3   shield    1 action   1 action

In [159]:
armor = pd.concat(armor_tables[0:4])

In [160]:
armor

,Name,minSTR,stealth_disadv,Weight,type,baseAC,modAC,cost_amt,cost_unit
0,Padded,0,True,8,light,11,DEX,5,gp
1,Leather,0,False,10,light,11,DEX,10,gp
2,Studded Leather,0,False,13,light,12,DEX,45,gp
0,Hide,0,False,12,medium,12,DEX|2,10,gp
1,Chain Shirt,0,False,20,medium,13,DEX|2,50,gp
2,Scale Mail,0,True,45,medium,14,DEX|2,50,gp
3,Spiked Armor,0,True,45,medium,14,DEX|2,75,gp
4,Breastplate,0,False,20,medium,14,DEX|2,400,gp
5,Halfplate,0,True,40,medium,15,DEX|2,750,gp
0,Ring Mail,0,True,40,heavy,14,None,30,gp
1,Chain Mail,13,True,55,heavy,16,None,75,gp
2,Splint,15,True,60,heavy,17,None,200,gp
3,Plate,15,True,65,heavy,18,None,1500,gp
0,Shield,0,False,6,shield,2,None,10,gp

In [162]:
armor = armor.merge(right=armor_tables[4],left_on='type',right_on=['Category'],how='left')
armor.drop(columns='Category',inplace=True,axis=1)
armor

,Name,minSTR,stealth_disadv,Weight,type,baseAC,modAC,cost_amt,cost_unit,Don,Doff
0,Padded,0,True,8,light,11,DEX,5,gp,1 minute,1 minute
1,Leather,0,False,10,light,11,DEX,10,gp,1 minute,1 minute
2,Studded Leather,0,False,13,light,12,DEX,45,gp,1 minute,1 minute
3,Hide,0,False,12,medium,12,DEX|2,10,gp,5 minutes,1 minute
4,Chain Shirt,0,False,20,medium,13,DEX|2,50,gp,5 minutes,1 minute
5,Scale Mail,0,True,45,medium,14,DEX|2,50,gp,5 minutes,1 minute
6,Spiked Armor,0,True,45,medium,14,DEX|2,75,gp,5 minutes,1 minute
7,Breastplate,0,False,20,medium,14,DEX|2,400,gp,5 minutes,1 minute
8,Halfplate,0,True,40,medium,15,DEX|2,750,gp,5 minutes,1 minute
9,Ring Mail,0,True,40,heavy,14,None,30,gp,10 minutes,5 minutes
10,Chain Mail,13,True,55,heavy,16,None,75,gp,10 minutes,5 minutes
11,Splint,15,True,60,heavy,17,None,200,gp,10 minutes,5 minutes
12,Plate,15,True,65,heavy,18,None,1500,gp,10 minutes,5 minutes
13,Shield,0,False,6,shield,2,None,10,gp,1 action,1 action

In [163]:
armor.to_csv('./data/armor.csv',index=False)